<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            header.header
                .container
                    .header__row.flex-wrap.aic
                        .header__logo
                            a(href="https://www.ursa.ru/" target="_blank")
                                img(src="img/logo.svg", alt="")
                        ul.header__menu.flex.aic
                            li.header__menu-item
                                a(href="#save") О продукте
                            li.header__menu-item
                                a(href="#advantages") Преимущества
                            li.header__menu-item
                                a(href="#apply") Применение
                            li.header__menu-item
                                a(href="#character") Характеристики
                            li.header__menu-item
                                a(href="#certificates") Сертификаты
                            li.header__menu-item
                                a(href="#feedback") Где купить
                        .header__link-site
                            a(href="").flex.aic
                                img(src="img/world.svg", alt="")
                                span сайт URSA
                        .header__burger.flex.aic.jcc
                            span
            section.b-top
                .container
                    .b-top__title Минеральная изоляция для звукоизоляции конструкций
                    .b-top__row.flex-wrap.aic
                        .b-top__left
                            .b-top__left-title 
                                span Эко
                                |акустик
                            .b-top__left-subtitle Безупречная защита от шума
                            ul.b-top__left-list
                                li.b-top__left-list-item Класс звукопоглощения - «А»
                                li.b-top__left-list-item Высший уровень экологичности
                                li.b-top__left-list-item Идеален для детских комнат и спален 
                            a(href="#apply").btn.btn-red Где применяется?
                        .b-top__right
                            .b-top__right-img
                                img(src="img/b-top.png", alt="")
                            .b-top__right-desc.flex.aic
                                img(src="img/headphones.png", alt="")
                                span Звукоизоляция ПРЕМИУМ-КЛАССА
            section.advantages#advantages
                .container
                    h2 Ключевые преимущества
                    ul.advantages__list.flex-wrap
                        li.advantages__item
                            img(src="img/adv/1.svg", alt="")
                            p Класс звукопоглощения — «А»
                        li.advantages__item
                            img(src="img/adv/2.svg", alt="")
                            p  Высший уровень экологичности
                        li.advantages__item
                            img(src="img/adv/3.svg", alt="")
                            p  Идеален для детских и спален
                        li.advantages__item
                            img(src="img/adv/4.svg", alt="")
                            p  Соответствует современным нормативам
                        li.advantages__item
                            img(src="img/adv/5.svg", alt="")
                            p Удобен в применении
                        li.advantages__item
                            img(src="img/adv/6.svg", alt="")
                            p Защита от влаги WaterGuard
            section.save#save
                .container
                    .save__top.flex-wrap.aic
                        .save__top-left
                            h2 Защитите себя и близких от надоедливого шума 
                        .save__top-right.flex.aic
                            p Материал URSA ЭКОАКУСТИК способен значительно снизить шум от соседей, громко работающего телевизора или проезжающих за окном машин 
                    .save__middle.flex-wrap.aic
                        .save__middle-left.flex
                            img(src="img/save/save__middle.png", alt="")
                            .save__middle-left-tooltip.flex.aic
                                img(src="img/save/iso.svg", alt="")
                                p Звукоизоляция <br> при 10 см - до 58 дБ
                                    span *
                        .save__middle-right
                            ul.save__middle-right-list
                                li.save__middle-right-list-item
                                    .save__middle-right-list-item-inner.flex.aic
                                        img(src="img/save/1.svg", alt="")
                                        .save__middle-right-list-item-txt
                                            p Крики соседей
                                            span 45 - 60 дБ
                                li.save__middle-right-list-item
                                    .save__middle-right-list-item-inner.flex.aic
                                        img(src="img/save/2.svg", alt="")
                                        .save__middle-right-list-item-txt
                                            p Шум городского транспорта
                                            span 65 - 90 дБ
                                li.save__middle-right-list-item
                                    .save__middle-right-list-item-inner.flex.aic
                                        img(src="img/save/2.svg", alt="")
                                        .save__middle-right-list-item-txt
                                            p Громкая музыка
                                            span 95 - 110 дБ
                    .save__bottom.flex-wrap.jcc
                        img(src="img/save/mark.png", alt="")
                        p 
                            span * 
                            |Межкомнатная перегородка 150 мм со звукоизоляцией URSA ЭКОАКУСТИК толщиной 100 мм и обшивкой из двух листов гипсокартона с каждой стороны обеспечит уровень защиты от шума 58 дБ. То есть громкий разговор нескольких людей в соседней комнате  будет практически не слышен.
            section.apply#apply
                .container
                    h2 Где применять?
                    .apply__tabs
                        ul.apply__tabs-list.flex-wrap
                            li.apply__tabs-item.active
                                .apply__tabs-item-top
                                    img(src="img/apply/1.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Перегородки
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.active.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Перегородки.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p Качественная звукоизоляция внутренних помещений позволяет разделять пространства различного назначения – рабочую зону эффективно изолировать от спальни, комнату переговоров отделить от библиотеки, разделить производственное и офисное помещения. Эффективно решить вопрос звукоизоляции внутренних помещений можно с помощью устройства легких каркасных перегородок.
                                        .apply__tabs-content-right-bottom
                                            p Для того чтобы сделать перегородки максимально звуконепроницаемыми, рекомендуем увеличить слой звукоизоляции внутри перегородки как минимум до 100 мм, а количество листов гипсократона, которым будет обшит каркас с обеих сторон, – до двух с каждой стороны.
                                        .apply__tabs-content-right-top
                                            p Использование каркасных перегородок с материалом URSA ЭКОАКУСТИК позволяет эффективно снизить уровень шума, проникающего в комнату и при этом максимально сохранить ее полезное пространство. Перегородка толщиной всего 75 мм снижает уровень шума на 46 дБ, так что громкий разговор за стенкой станет практически не слышен. Если необходима максимальная звукоизоляция, то при толщине перегородки 150 мм изоляция шума составит 58 дБ, что примерно соответствует звуку работающего телевизора. 
                            li.apply__tabs-item
                                .apply__tabs-item-top
                                    img(src="img/apply/2.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Акустические потолки
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Акустические потолки.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p В квартире и в частном доме важно позаботиться о звукоизоляции межэтажного перекрытия. Для того чтобы защититься от громкого разговора или звуков работающего телевизора, которые проникают из верхнего этажа, достаточно использовать акустический потолок на подвесах или на каркасе.
                                        .apply__tabs-content-right-bottom
                                            p При устройстве акустического потолка по каркасу можно использовать узкие потолочные профили высотой 27 мм, что позволит сохранить внутренний объем помещения. Изоляционный материал в такой конструкции укладывается между профилями и закрывается листом гипсокартона. Для достижения большего эффекта внутреннее пространство профиля также рекомендуется заполнить звукоизоляционным материалом.
                            li.apply__tabs-item
                                .apply__tabs-item-top
                                    img(src="img/apply/3.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Облицовки стен изнутри
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Облицовка стен изнутри.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p При недостаточной толщине межквартирных или наружных стен в жилую комнату могут проникать посторонние звуки как со стороны соседей так и со стороны шумной улицы. В этом случае рекомендуется использовать звукоизоляционные облицовки з заполнением звукопоглощающим материалом.
                                        .apply__tabs-content-right-bottom
                                            p Для достижения лучшего эффекта при монтаже каркасной облицовки рекомендуем избежать крепления каркаса к изолируемой стене. Стойки каркаса лучше крепить только в пол и в потолок. Верхний и нижний направляющие профили рекомендуем дополнительно изолировать самоклеящейся полиуретановой лентой.
                                        .apply__tabs-content-right-top
                                            p Применение облицовки с заполнением изоляцией позволяет снизить уровень шума проходящего через стену на 17 дБ.
                            li.apply__tabs-item
                                .apply__tabs-item-top
                                    img(src="img/apply/4.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Полы и перекрытия
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Полы и перекрытия.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p Изоляция перекрытий имеет особое значение в частном деревянном или каркасном доме, т.к. позволяет надежно отделить приватную зону спальных помещений (на втором этаже) от более шумных зон гостиной и кухни, которые чаще располагают на первом этаже.
                                        .apply__tabs-content-right-bottom
                                            p При изоляции деревянного межэтажного перекрытия по балкам рекомендуем перед укладкой изоляционного материала положить на черновой пол слой пароизоляции. Наличие пароизоляции снизу позволит избежать конденсата в том случае, если зимой будет использоваться и отапливаться только первый этаж. 
                                        .apply__tabs-content-right-top
                                            p Изоляция перекрытий по балкам позволяет эффективно снизить воздушный шум: звук телевизора, музыку, громкие разговоры. Для защиты от ударного шума (топот, вибрация) рекомендуем использовать дополнительные материалы, которые позволяют гасить вибрацию, например, систему «плавающий пол».
                            li.apply__tabs-item
                                .apply__tabs-item-top
                                    img(src="img/apply/5.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Каркасные стены
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Каркасные стены.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p Изоляционный материал в конструкции скатной крыши выполняет тройное назначение: защищает от потерь тепла зимой, от перегрева летом и от проникновения уличного шума - круглый год. Защита от шума в крышах особенно актуальна при использовании кровли из металлочерепицы или профлиста.
                                        .apply__tabs-content-right-bottom
                                            p При изоляции скатной крыши нужно уделить особое внимание правильному составу конструкции и не забыть про такие слои как пароизоляция, вентзазор и гидроизоляция. Для компенсации потерь тепла и проникновения шума через стропила рекомендуется по низу стропил устраивать еще один слой изоляции толщиной 50 мм расположенный перпендикулярно стропилам. 
                                        .apply__tabs-content-right-top
                                            p Изоляция скатной крыши позволяет сократить общие потери тепла дома в среднем на 25%, а также повысить общий акустический комфорт, создав по-настоящему приватную и спокойную зону, что особенно важно для тихих спальных помещений.
                            li.apply__tabs-item
                                .apply__tabs-item-top
                                    img(src="img/apply/6.svg", alt="").apply__tabs-item-icon
                                    p.apply__tabs-item-title Крыши
                                    span.arrow
                                .apply__tabs-content.apply__tabs-content-m.flex-wrap.aic
                                    .apply__tabs-content-left
                                        img(src="img/apply/Крыши.png", alt="")
                                    .apply__tabs-content-right
                                        .apply__tabs-content-right-top
                                            p Изоляционный материал в конструкции скатной крыши выполняет тройное назначение: защищает от потерь тепла зимой, от перегрева летом и от проникновения уличного шума - круглый год. Защита от шума в крышах особенно актуальна при использовании кровли из металлочерепицы или профлиста.
                                        .apply__tabs-content-right-bottom
                                            p При изоляции скатной крыши нужно уделить особое внимание правильному составу конструкции и не забыть про такие слои как пароизоляция, вентзазор и гидроизоляция. Для компенсации потерь тепла и проникновения шума через стропила рекомендуется по низу стропил устраивать еще один слой изоляции толщиной 50 мм расположенный перпендикулярно стропилам. 
                                        .apply__tabs-content-right-top
                                            p Изоляция скатной крыши позволяет сократить общие потери тепла дома в среднем на 25%, а также повысить общий акустический комфорт, создав по-настоящему приватную и спокойную зону, что особенно важно для тихих спальных помещений.
                        .apply__tabs-content.active.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Перегородки.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p Качественная звукоизоляция внутренних помещений позволяет разделять пространства различного назначения – рабочую зону эффективно изолировать от спальни, комнату переговоров отделить от библиотеки, разделить производственное и офисное помещения. Эффективно решить вопрос звукоизоляции внутренних помещений можно с помощью устройства легких каркасных перегородок.
                                .apply__tabs-content-right-bottom
                                    p Для того чтобы сделать перегородки максимально звуконепроницаемыми, рекомендуем увеличить слой звукоизоляции внутри перегородки как минимум до 100 мм, а количество листов гипсократона, которым будет обшит каркас с обеих сторон, – до двух с каждой стороны.
                                .apply__tabs-content-right-top
                                    p Использование каркасных перегородок с материалом URSA ЭКОАКУСТИК позволяет эффективно снизить уровень шума, проникающего в комнату и при этом максимально сохранить ее полезное пространство. Перегородка толщиной всего 75 мм снижает уровень шума на 46 дБ, так что громкий разговор за стенкой станет практически не слышен. Если необходима максимальная звукоизоляция, то при толщине перегородки 150 мм изоляция шума составит 58 дБ, что примерно соответствует звуку работающего телевизора. 
                        .apply__tabs-content.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Акустические потолки.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p В квартире и в частном доме важно позаботиться о звукоизоляции межэтажного перекрытия. Для того чтобы защититься от громкого разговора или звуков работающего телевизора, которые проникают из верхнего этажа, достаточно использовать акустический потолок на подвесах или на каркасе.
                                .apply__tabs-content-right-bottom
                                    p При устройстве акустического потолка по каркасу можно использовать узкие потолочные профили высотой 27 мм, что позволит сохранить внутренний объем помещения. Изоляционный материал в такой конструкции укладывается между профилями и закрывается листом гипсокартона. Для достижения большего эффекта внутреннее пространство профиля также рекомендуется заполнить звукоизоляционным материалом.
                                .apply__tabs-content-right-top
                                    p Применение акустического потолка по каркасу позволит снизить шум от голосов или музыки, доносящихся с верхнего этажа от 8 до 13 дБ в зависимости от толщины изоляционного материала и количества обшивочных листов.
                        .apply__tabs-content.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Облицовка стен изнутри.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p При недостаточной толщине межквартирных или наружных стен в жилую комнату могут проникать посторонние звуки как со стороны соседей так и со стороны шумной улицы. В этом случае рекомендуется использовать звукоизоляционные облицовки з заполнением звукопоглощающим материалом.
                                .apply__tabs-content-right-bottom
                                    p Для достижения лучшего эффекта при монтаже каркасной облицовки рекомендуем избежать крепления каркаса к изолируемой стене. Стойки каркаса лучше крепить только в пол и в потолок. Верхний и нижний направляющие профили рекомендуем дополнительно изолировать самоклеящейся полиуретановой лентой.
                                .apply__tabs-content-right-top
                                    p Применение облицовки с заполнением изоляцией позволяет снизить уровень шума проходящего через стену на 17 дБ
                        .apply__tabs-content.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Полы и перекрытия.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p Изоляция перекрытий имеет особое значение в частном деревянном или каркасном доме, т.к. позволяет надежно отделить приватную зону спальных помещений (на втором этаже) от более шумных зон гостиной и кухни, которые чаще располагают на первом этаже.
                                .apply__tabs-content-right-bottom
                                    p При изоляции деревянного межэтажного перекрытия по балкам рекомендуем перед укладкой изоляционного материала положить на черновой пол слой пароизоляции. Наличие пароизоляции снизу позволит избежать конденсата в том случае, если зимой будет использоваться и отапливаться только первый этаж. 
                                .apply__tabs-content-right-top
                                    p Изоляция перекрытий по балкам позволяет эффективно снизить воздушный шум: звук телевизора, музыку, громкие разговоры. Для защиты от ударного шума (топот, вибрация) рекомендуем использовать дополнительные материалы, которые позволяют гасить вибрацию, например, систему «плавающий пол».
                        .apply__tabs-content.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Каркасные стены.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p В каркасных конструкциях минеральная изоляция - основной компонент, который превращает соединение из каркаса и обшивки в настоящий барьер, предотвращающий потерю тепла и защищающий от уличного шума. 
                                .apply__tabs-content-right-bottom
                                    p Каркасные стойки в стене являются по сути мостиками, через которые могут происходить потери тепла и проникновение уличного шума. Для того чтобы компенсировать влияние стоек каркаса и повысить однородность изоляции рекомендуем использовать дополнительный изоляционный слой, устанавливаемый горизонтально, поперек основных стоек стены.
                                .apply__tabs-content-right-top
                                    p Каркасная стена с заполнением звукоизоляционным материалом толщиной 150 мм и обшивками из OSB позволяет снизить уровень проникающего шума на 49 дБ.
                        .apply__tabs-content.flex-wrap.aic
                            .apply__tabs-content-left
                                img(src="img/apply/Крыши.png", alt="")
                            .apply__tabs-content-right
                                .apply__tabs-content-right-top
                                    p Изоляционный материал в конструкции скатной крыши выполняет тройное назначение: защищает от потерь тепла зимой, от перегрева летом и от проникновения уличного шума - круглый год. Защита от шума в крышах особенно актуальна при использовании кровли из металлочерепицы или профлиста.
                                .apply__tabs-content-right-bottom
                                    p При изоляции скатной крыши нужно уделить особое внимание правильному составу конструкции и не забыть про такие слои как пароизоляция, вентзазор и гидроизоляция. Для компенсации потерь тепла и проникновения шума через стропила рекомендуется по низу стропил устраивать еще один слой изоляции толщиной 50 мм расположенный перпендикулярно стропилам. 
                                .apply__tabs-content-right-top
                                    p Изоляция скатной крыши позволяет сократить общие потери тепла дома в среднем на 25%, а также повысить общий акустический комфорт, создав по-настоящему приватную и спокойную зону, что особенно важно для тихих спальных помещений.
            section.character#character
                .container
                    h2 Характеристики
                    img(src="img/charac.png", alt="")
                    .character__table-wrap
                        table.character__table
                            thead
                                tr
                                    td Наименование
                                    td Размеры, мм
                                    td В упаковке 
                                    td На паллете
                                    td Индекс звукопоглощения, 50 мм
                            tbody
                                tr
                                    td.red URSA
                                    td
                                        table.character__table-child
                                            tbody
                                                tr
                                                    td Длина
                                                    td Ширина
                                                    td Толщина
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td Штук
                                                    td м²
                                                    td м³
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td Упаковка
                                                    td м³
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td αw
                                tr
                                    td URSA ЭКОАКУСТИК
                                    td
                                        table.character__table-child
                                            tbody
                                                tr
                                                    td 1 250
                                                    td 610
                                                    td 50
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td 10
                                                    td 7,625 
                                                    td 0,80
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td 32
                                                    td 12,192
                                    td 
                                        table.character__table-child  
                                            tbody
                                                tr
                                                    td 0,90
            section.eco
                .container
                    .eco__top.flex-wrap.aic
                        .eco__top-left
                            h2 Высший уровень экологичности
                        .eco__top-right.flex.aic
                            p ИДЕАЛЬНЫЙ выбор для тех, предъявляет высочайшие требования к строительным материалам.
                    .eco__middle.flex-wrap.aic
                        .eco__middle-left
                            p
                                span PUREONE 
                                |— уникальная технология с применением связующего на основе акрилового полимера. Полимер разбавляется водой, при полимеризации выделяется водяной пар.  Материал характеризуется особой эластичностью и упругостью, удивительной легкостью, низкой теплопроводностью, экологичностью и гигиеничностью.
                        .eco__middle-right
                            img(src="img/eco.png", alt="")
                    .eco__bottom
                        ul.eco__bottom-list.flex-wrap
                            li.eco__bottom-list-item
                                img(src="img/eco/1.png", alt="")
                                p Рекомендован Научным центром РАМН для использования при строительстве и реконструкции дошкольных общеобразовательных  учреждений, школ и  лечебно- профилактических учреждений.
                            li.eco__bottom-list-item
                                img(src="img/eco/2.png", alt="")
                                p Экспертное заключение ФГБУЗ «Головной центр гигиены и эпидемологии» — Рекомендован для использования в зданиях и сооружениях всех типов (А, Б,  В). 
                            li.eco__bottom-list-item
                                img(src="img/eco/3.png", alt="")
                                p Соответствует высшему уровню требований экологического стандарта маркировки строительных и отделочных материалов EcoMaterial Absolute
                    .eco__banner.flex-wrap
                        img(src="img/eco/banner-l.svg", alt="").left-back
                        .eco__banner-left
                            .eco__banner-title Впервые в России: официальная гарантия на теплоизоляционные материалы!
                            p URSA — единственный производитель на российском рынке, предлагающий ОФИЦИАЛЬНУЮ юридическую гарантию на свои материалы, подразумевающую финансовую ответственность. 
                            p Проще говоря: если ваш случай является гарантийным — мы вернем вам деньги!
                        .eco__banner-right
                            img(src="img/eco/banner-img.png", alt="")
            section.certificates#certificates
                .container
                    .certificates__top.flex-wrap.aic
                        .certificates__top-title
                            h2 Сертификаты продукции 
                                span URSA
                        .certificates__top-desc
                            p Сертифицированные материалы URSA ЭКОАКУСТИК отвечают самым строгим российским и европейским нормам
                    .swiper-container
                        ul.certificates__list.swiper-wrapper.flex
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/1.png", alt="")
                                a(href="certificates/Европейский экологический сертификат_EUCEB_URSA_Теплостандарт.pdf" target="_blank") Сертификат соответствия EUCEB
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/2.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [RU]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/3.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/4.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 3,4 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/5.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/6.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/6.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/6.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                            li.certificates__item.swiper-slide
                                .certificates__item-img
                                    img(src="img/cert/6.png", alt="")
                                a(href="certificates/Европейский сертификат_ISO_9001_URSA.pdf" target="_blank") Сертификат соответствия ISO 9001 [EN]
                                .format.flex.aic
                                    img(src="img/cert/pdf.svg", alt="")
                                    span 1,25 Мб
                    .swiper-scrollbar
            section.feedback.flex-wrap#feedback
                .feedback__left
                    .feedback__left-inner
                        .feedback__left-top.flex-wrap.aic
                            .feedback__left-top-title 
                                h2 Узнайте где купить URSA 
                            .feedback__left-top-desc 
                                p Узнайте где купить URSA ЭКОАКУСТИК
                        .feedback__left-image
                            img(src="img/feedback/map.png", alt="")
                        a(href="").btn.btn-red Найти на карте
                .feedback__right
                    .feedback__right-inner
                        .feedback__right-top.flex.aic
                            img(src="img/feedback/spec.png", alt="")
                            .feedback__right-top-desc
                                p Вопрос техспециалисту URSA?
                                span Сергей Розенко
                        form(action="").feedback__form
                            label(for="") 
                                p Как к вам обращаться? 
                                    span *
                                input(type="text")
                            label(for="") 
                                p Ваш e-mail: 
                                    span *
                                input(type="text")
                            label(for="") 
                                p Чем мы будем вам полезны?
                                    span *
                                textarea
                            button(type="submit").btn.btn-red Отправить
        footer.footer
            .container
                .footer__top.flex-wrap.aic
                    .footer__logo
                        a(href="https://www.ursa.ru/" target="_blank")
                            img(src="img/footer_logo.png", alt="")
                    .footer__contacts.flex-wrap.aic
                        .footer__contacts-left
                            p ООО «УРСА Евразия»
                            span г. Санкт-Петербург, 196191, Ленинский пр., д. 168
                        .footer__contacts-right
                            a(href="tel:812 313 72 72") 812 
                                span 313 72 72
                            a(href="tel:812 313 72 72") 812 
                                span 313 72 72
                            a(href="mailto:ursa-russia@ursa.com") ursa-russia@ursa.com
                    .footer__social
                        a(href="").share-page.flex.aic.jcc
                            <i class="fas fa-share-alt flex aic jcc"></i>
                            | Поделиться страницей
                        ul.footer__social-list.flex.aic
                            li.footer__social-item
                                a(href="").flex.aic.jcc
                                    <i class="fab fa-facebook-f"></i>
                            li.footer__social-item
                                a(href="").flex.aic.jcc
                                    <i class="fab fa-vk"></i>
                            li.footer__social-item
                                a(href="").flex.aic.jcc
                                    <i class="fab fa-twitter"></i>
                .footer__bottom.flex-wrap.aic.jcsb
                    p © Copyright 2012—2019 URSA Insulation
                    a(href="https://www.trinet.ru/" target="_blank")
                        p Разработка:
                        img(src="img/trinet.svg", alt="")




                    


        script(src="js/jquery.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
