@font-face {
font-family: "ChevinPro"; 
    src:url('fonts/ChevinPro-Medium.otf'),
    url('fonts/chevin-pro_medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
font-family: "ChevinPro"; 
    src:url('fonts/ChevinPro-Bold.otf'),
    url('fonts/chevin-pro_bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}